body {
  font-family: Helvetica;
  font-size: 18px;
}

.top {
  display: flex;
  margin-top: 0;
  align-items: center;
  height: 64px;
  justify-content: space-between;
}

.top b {
  color: #424143;
  font-weight: bold;
}

.logotext {
  display: inline-flex;
}

.colmar {
  display: flex;
  height: 32px;
  align-items: center;
}

.colmar h1 {
color: gray;
}

.logo img {
  display: flex;
  padding-left: 24px;
}

.list a {
  color: gray;
  text-decoration: none;
}

.list li {
  display: inline-flex;
  margin-right: 16px;
}

.list ul {
  margin-right: 8px;
}

.gray {
  display: flex;
  background-color: lightgray;
  color: #424143;
  align-items: center;
}

.gray img {
  width: 60%;
  height: 30%;
  margin: 32px 24px;
}

.gray h1 {
  font-weight: bold;
  font-size: 3rem;
}

.learn {
  display: flex;
  margin-left: 24px;
  border: 1px solid orange;
  font-weight: bold;
  flex-direction: column;
  width: 400px;
  height: 250px;
  justify-content: space-between;
}

/* Button */
.button {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #424143;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5rem;
}

/* Main Section part two */

.white {
display: flex;
color: #424143;
}

.col1 {
  display: inline;
  border: 1px solid green;
  padding: 32px 24px;
  border-right: 4px solid gray;
}

.col1 img {
  width: 60%;
  padding-bottom: 32px;
}

.col1 h1 {
font-weight: bold;
padding-bottom: 24px;
font-size: 1.75rem;
}

.col1 p {
  padding-bottom: 32px;
}

.col2 {
display: inline;
border: 1px solid blue;
width: 40%;
height: 520px;
}

.box {
display: flex;
height: 174px;
}

.box h2 {
  font-weight: bold;
}

.boximg {
  display: inline;
  border: 1px dotted
}

.boximg img {
  width: 35%;
}

.boxtext {
  width: 65%;
  display: inline;
  border: 2px dotted pink;
}

.special {
background-color: lightgray;
}
