body {
  font-family: Helvetica;
  font-size: 18px;
  color: gray;
}

.top {
  display: flex;
  margin-top: 0;
  align-items: center;
  height: 64px;
  justify-content: space-between;
}

.top b {
  color: #424143;
  font-weight: bold;
}

.logotext {
  display: inline-flex;
}

.colmar {
  display: flex;
  height: 32px;
  align-items: center;
}

.logo img {
  display: flex;
  padding-left: 24px;
}

.list a {
  text-decoration: none;
  color: gray;
}

.list li {
  display: inline-flex;
  margin-right: 16px;
}

.list ul {
  margin-right: 8px;
}

.gray {
  display: flex;
  background-color: lightgray;
  color: #424143;
  align-items: center;
}

.gray img {
  width: 60%;
  height: 30%;
  margin: 32px 24px;
}

.gray h1 {
  font-weight: bold;
  font-size: 3rem;
}

.learn {
  display: flex;
  margin-left: 24px;
  border: 1px solid orange;
  font-weight: bold;
  flex-direction: column;
  width: 400px;
  height: 250px;
  justify-content: space-between;
}

/* Button */
.button {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #424143;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.5rem;
}

/* Main Section part two */

.white {
display: flex;
color: #424143;
}

.col1 {
  display: inline;
  border: 1px solid green;
  padding: 32px 24px;
  border-right: 4px solid gray;
}

.col1 img {
  max-width: 60%;
  padding-bottom: 32px;
}

.col1 h1 {
font-weight: bold;
padding-bottom: 24px;
font-size: 1.75rem;
}

.col1 p {
  padding-bottom: 32px;
}

.col2 {
display: inline;
border: 1px solid blue;
width: 40%;
height: 520px;
}

.box {
display: flex;
height: 174px;
}

.box h2 {
  font-weight: bold;
}

.boximg {
  display: inline;
  border: 1px dotted
  width: 35%;
  overflow: hidden;
}

.boximg img {
  max-width: 100%
  height: auto;

}

.boxtext {
  width: 65%;
  display: inline;
  border: 2px dotted pink;
}

.special {
background-color: lightgray;
}

/* Start Learning Section */

.start {
  background-color: lightgray;
  text-align: center;
}

.start h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #424143;
  Padding-top: 32px;
  padding-bottom: 32px;
}

.learning {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  justify-content: center;
}

.course {
  border: 1px solid red;
  background-color: white;
  width: 330px;
  margin: 16px;
}

.course img {
  height: auto;
  width: 330px;
}

/* Thesis exhibit Section */

.thesis {
  text-align: center;
}

.thesis h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #424143;
  Padding-top: 32px;
  padding-bottom: 32px;
}

.exhibit {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

.sec1 {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  width: 60%;
  overflow: hidden;
}

.sec1 video {
  max-width: 100%;
  height: auto;
  display: block;
}

.sec1 h2 {
  padding-top: 24px;
  padding-bottom: 8px;
}

.sec2 {
  width: 40%;
}

.fisma {
  background-color: lightgray;
}

.fisma,
.now {
  display: flex;
}

.fisma img,
.now img {
  max-width: 35%;
  height: 175px;
  overflow: hidden;
  padding: 16px;
}


.fismatext,
.nowtext {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;

}

.fismatext h2,
.nowtext h2 {
  font-weight: bold;
}

/* Footer Section */

.footer {
  font-size: 0.75rem;
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer li {
    display: inline;
}

.rights {
  display: flex;
  border: 1px solid green;
}

.nav {
  border: 1px solid blue;
  display: flex;
}
